@import 'src/assets/styles/global.scss';
@import "src/assets/styles/mixin" ;
@import "src/assets/styles/variable" ;

.root {
  background-color: $color-p-black;
  color: $color-p-white;
  padding: 2rem;
  text-align: center;
}
