//device breakpoint
$mobile: 320px;
$tablet: 481px;
$desktop-s: 769px;
$desktop: 1025px;
$desktop-l: 1200px;

//container
$space-c-t-desktop: 3rem;
$space-c-b-desktop: 5rem;
$space-c-x-desktop: 14.4rem;

//colors
$color-p-black: #000000;
$color-p-white: #ffffff;
$color-border: rgba(29, 39, 49, 0.6509803922);
$color-background: #151d25;
$color-item: #101821;
$color-h3: #ff9601;
$color-text: #fff;